name: Tests

on:
  push:
  pull_request:

jobs:
  quality_checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install project + dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests
